@page
@model test.Pages.LoginModel
@{
}
<h1>@Model.resultat</h1>

<form method="post">
    <label>login </label>
    <input type="text" name="login" id="login" />
    <label>passeword </label>
    <input type="password" name="psw" id="psw" />
    <input type="submit" />
</form>